.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #500000;
  width: clamp(
    calc(var(--card-min-scale) * var(--base-card-size)),
    100%,
    calc(var(--card-max-scale) * var(--base-card-size))
  );
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;

  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
  }

  .product-name {
    font-size: 14px;
    text-align: start;
  }

  .product-price {
    font-size: 13px;
    text-align: end;
    margin-bottom: 35px;
  }

  .add-to-cart {
    width: 100%;
    background-color: #870000;
    font-size: 13px;
    height: 25px;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #a00000;
      color: #fff;
    }
  }
}
