.navbar-root {
  background-color: #3c0000;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 24px;
  box-shadow: 0px 0px 9.6px 4px rgba(98, 0, 0, 1);

  .navbar-wrapper {
    list-style: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    .home-button {
      font-size: 36px;
    }
    li {
      margin-left: 37px;

      a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
